body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0e0e;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
